<app-header title="Surahs"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">surah-details</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<!-- <div>
  <ion-icon name="play-circle-sharp" class="ratio-25px" *ngIf="!surah.currentlyPlaying"
    (click)="openActionSheet(surah)">
  </ion-icon>
  <ion-icon name="pause-circle-sharp" class="ratio-25px" *ngIf="surah.currentlyPlaying"></ion-icon>
  <ion-icon name="stop-circle-sharp" class="ratio-25px" *ngIf="surah.currentlyPlaying"
    (click)="stopSurah(surah)"></ion-icon>
</div> -->

<!-- Open Audio Editions -->
<!-- <ion-action-sheet mode="ios" [isOpen]="isActionSheetOpen" header="Audio Editions" [buttons]="actionSheetButtons"
  (didDismiss)="setOpen(false)">
</ion-action-sheet> -->
