.surah {
  font-family: 'Inter', sans-serif;
  cursor: pointer;

  .arabic-name {
    font-family: 'Scheherazade New', serif;
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
  }

  ion-chip {
    &.meccan {
      --background: #00213f;
      --color: #adefd1;
    }

    &.medinan {
      --background: #252927;
      --color: #fff;
    }
  }
}
